@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Lexend", sans-serif;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media screen and (min-width:300px) and (max-width:767px)
{
  body{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}