@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Lexend", sans-serif;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 50px;
  margin-bottom: 50px;
}